<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bakery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<br>
<br>

            <div class= "col-lg-11 text-center">
            <button class="marketplace btn">MARKET PLACE</button>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-deck">
                    {{#each food}}
                    <div class="card bakery text-center">
                        <img class="card-img-top" src="/assets/images/{{escape this.dataValues.Img_url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.dataValues.Product_name}}</h5>
                            <p class="card-text">Price: ${{this.dataValues.Price}} /each</p>
                                <a 
                                    product_name="{{this.dataValues.Product_name}}"
                                    class="addToCart btn"
                                    product_id={{this.dataValues.id}}
                                    product_price={{this.dataValues.Price}}>
                                    Add to Cart
                                </a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script>
            $(".addToCart").on("click", function() {
                console.log('name', $(this).attr('product_name'))
                console.log('id', $(this).attr('product_id'))
                console.log("price", $(this).attr("product_price"))

                var currentCustomer = JSON.parse(localStorage.getItem('newuser'))
                console.log('this is current customer',currentCustomer)

                var newCart ={
                    customerId: currentCustomer.results.id,
                    foodId: $(this).attr('product_id'),
                    Product_name: $(this).attr('product_name'),
                    Cost: $(this).attr('product_price')
                }
            $.ajax({
                url: "/api/addToCart",
                type: "POST",
                data: newCart
            }).then(function (results) {

            })
            })

        </script>
        <script>
            $('.marketplace').on('click', function() {
                window.location.href= '/marketplace';
            })
        </script>

</body>
</html>




