<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cart</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Yesteryear&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <br>
    <br>
    <h3 class="header">'s Shopping Cart</h3>
    {{!-- Card for all products chosen by customer --}}
    <div class="row">

        <div class="col-lg-12">
            <div class="card-deck justify-content-lg-center">
                <div class="card text-center">
                    {{#each products}}
                    <div class="card-body">

                        <div class="card-title">{{this.dataValues.Product_name}}</div>
                        <div class="card-text">Price: ${{this.dataValues.Cost}} /each</div>
                        <a product_name={{this.dataValues.Product_name}} class="delete btn addToCart"
                            product_id={{this.dataValues.FoodId}} product_price={{this.dataValues.Price}}>
                            Delete
                        </a>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
    {{!-- Card for Total --}}
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card bakery text-center">
                    <div class="card-body">
                        <div class="card-title title">Total</div>
                        <div class="card-text total">Your total is <h1 id="money">${{newTotal}}.</h1>
                            <p>Please pay when you come and pick your order up! Thank you!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script> 
    <script>
        var currentCustomer = JSON.parse(localStorage.getItem('newuser'))
        console.log('this is current customer id', currentCustomer.results.id)
        currentName = currentCustomer.results.Whole_name
        $(".header").prepend(currentName)
        //ajax call to go get all the carts where id = localstarage custmer id from database
        // in the .then() of the ajax call loop and put each thing on the page
        $.ajax({
            url: "/cart/" + currentCustomer.results.id,
            type: "GET",
        }).then(function () {
            console.log("im in the .then",)
        })
    </script>
    <script>
        $(".delete").on("click", function () {
            console.log('name', $(this).attr('product_name'))
            console.log("price", $(this).attr("product_price"))
            console.log("id", $(this).attr('product_id'))
            var updatedCart = {
                foodId: $(this).attr('product_id'),
                Product_name: $(this).attr('product_name'),
                Cost: $(this).attr('product_price')
            }
            var foodId = $(this).attr('product_id')
            $.ajax({
                url: "/cart" + "/" + currentCustomer.results.id + "/" + foodId,
                method: "DELETE",
                data: updatedCart
            }).then(function (results) {
                window.location.reload()
                console.log("delete .then")
            })
        })
    </script>

</body>

</html>